* {
  font-family: "Sen", sans-serif;
  color: #222222;
}

h1,
.h1 {
  font-size: 64px;
}

h2,
.h2 {
  font-size: 48px;
}

h3,
.h3 {
  font-size: 32px;
}

h4 {
  font-size: 40px;
}

p,
a,
span,
.btn {
  font-size: 18px;
}

.btn {
  position: absolute;
  padding: 10px 80px;
  background-color: #b0b4a1;
  border-radius: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}
.btn:hover {
  color: #e1e0d3;
  background-color: #222222;
}

body {
  overflow-x: hidden;
  background-color: #e1e0d3;
}

.section-center {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

section {
  padding: 5% 0;
}

nav {
  background-color: #b0b4a1;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: #e1e0d3;
  font-weight: bold;
}

#apropos {
  height: 100vh;
  background-color: #e1e0d3;
}

.apropos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 100px;
}
.apropos .apropos__objectif {
  grid-area: 2/1/3/3;
  justify-items: center;
}
.apropos .apropos__objectif p {
  text-align: center;
  color: #6c7255;
  font-size: 32px;
}
.apropos .apropos__image {
  grid-area: 1/1/2/2;
}
.apropos .apropos__image img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0%;
     object-position: 0 0%;
  width: 100%;
  height: 500px;
}
.apropos .apropos__text {
  grid-area: 1/2/2/3;
}

#projets {
  background-color: #b0b4a1;
}
#projets .swiper {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
#projets .swiper-slide {
  filter: saturate(60%);
  position: relative;
  width: 700px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projets .swiper-slide.swiper-slide-active {
  filter: saturate(1);
  transform: scale(1.1);
}
#projets .swiper-slide.swiper-slide-active .swiper-slide-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(108, 114, 85, 0.862745098);
  width: 100%;
  height: 100%;
}
#projets .swiper-slide.swiper-slide-active .swiper-slide-text p {
  color: #fcfcfc;
  max-width: 90%;
  margin: 0;
}
#projets .swiper-slide.swiper-slide-active .swiper-slide-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #e1e0d3;
}
#projets .swiper-slide-text {
  display: none;
  background-color: red;
  transition: background-color 0.5s ease;
}
#projets .swiper-slide:hover .swiper-slide-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(74, 78, 57, 0.9098039216);
  width: 100%;
  height: 100%;
}
#projets .swiper-slide:hover .swiper-slide-text p {
  color: #fcfcfc;
  max-width: 90%;
  margin: 0;
}
#projets .swiper-slide:hover .swiper-slide-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #e1e0d3;
}

.swiper-slide .redirect {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 0;
     object-position: 25% 0;
}

#competences {
  height: 100vh;
  position: relative;
}

.competences {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.competences .hidden-competences {
  height: 300vh;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  background-color: red;
}
.competences__text {
  font-size: 100px;
  position: absolute;
  z-index: 50;
}
.competences__item {
  position: absolute;
  padding: 10px 60px;
  background-color: #b0b4a1;
  border-radius: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.competences__item-hidden {
  display: none;
}
.competences__item:nth-child(2) {
  left: 0px;
  z-index: 100;
}
.competences__item:nth-child(2) {
  left: 0px;
  z-index: 100;
}
.competences__item:nth-child(3) {
  top: 220px;
  right: 0px;
  z-index: 1;
}
.competences__item:nth-child(4) {
  top: 150px;
  right: 250px;
  z-index: 100;
}
.competences__item:nth-child(5) {
  top: 200px;
  left: -100px;
  z-index: 100;
}
.competences__item:nth-child(6) {
  top: -30px;
  z-index: 100;
}
.competences__item:nth-child(7) {
  top: 350px;
  right: 150px;
  z-index: 100;
}
.competences__item:nth-child(8) {
  top: -50px;
  right: -100px;
  z-index: 100;
}
.competences__item:nth-child(9) {
  top: 300px;
  left: 25%;
  z-index: 100;
}

.contacts {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts__text {
  font-size: 100px;
  line-height: 90%;
  font-weight: bold;
  text-transform: uppercase;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__info a {
  color: #222222;
}

footer {
  background-color: #0d0d0d;
  color: #fcfcfc;
  fill: #fcfcfc;
}
footer a {
  color: #e1e0d3;
}
footer svg {
  fill: #e1e0d3;
}

.nav-link {
  font-size: 20px;
}

/* PROJET */
.projet .swiper {
  width: 100%;
  height: 600px;
  margin-bottom: 5%;
}
.projet .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projet .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projet__image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: auto;
  margin: 5% 0;
}

.margin-section {
  margin-bottom: 10%;
}

.grotte-bottom-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grotte-bottom-img img {
  width: 100%;
}

@media (max-width: 992px) {
  .competences__text {
    font-size: 10vw;
    position: absolute;
    z-index: 50;
  }
  .competences__item {
    display: none;
  }
  .competences .comp-hidden {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transform: translateY(100%);
    gap: 10px;
  }
  .competences__item-hidden {
    display: block;
    font-size: 1em;
    margin-top: 2%;
    padding: 0.75em 2em;
    background-color: #b0b4a1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* MEDIA QUERIES */
@media (max-width: 600px) {
  h1,
  .h1 {
    font-size: 48px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
  }
  p,
  a,
  span,
  .btn {
    font-size: 16px;
  }
  .apropos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  p, h1, h2, h3, h4, ul {
    padding: 0 5%;
  }
  main {
    margin: 0 auto;
  }
  .projet .swiper {
    height: 300px;
  }
  .projet .swiper-slide img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    background-color: red;
  }
  .projet__image {
    grid-template-columns: 1fr;
    margin-bottom: 0%;
  }
  .projet__image iframe {
    height: 400px;
    margin-bottom: 30%;
  }
  .competences__text {
    font-size: 10vw;
    position: absolute;
    z-index: 50;
  }
  .competences__item {
    display: none;
  }
  .competences .comp-hidden {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transform: translateY(100%);
    gap: 10px;
  }
  .competences__item-hidden {
    display: block;
    font-size: 0.75em;
    padding: 0.5em 2em;
    background-color: #b0b4a1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1em;
  }
  .contacts__text {
    margin-bottom: 5%;
    font-size: 5em;
  }
}/*# sourceMappingURL=style.css.map */