main {
  margin: 0 auto;
  overflow-x: hidden;
}

.projet, .projets, .apropos, .contact{
  margin: 5% 0;

* {
  font-family: "Sen", sans-serif;
  color: #222222;
}

h1,
.h1 {
  font-size: 64px;
}

h2,
.h2 {
  font-size: 48px;
}

h3,
.h3 {
  font-size: 32px;
}

h4 {
  font-size: 40px;
}

p,
a,
span, .p,
.btn {
  font-size: 20px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #6c7255;
}

#hero {
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#hero h1 {
  color: #e1e0d3;
  font-size: 125px;
  margin-bottom: 0;
}
#hero h2 {
  font-size: 150px;
  margin-top: -3%;
}
#hero p {
  color: #e1e0d3;
  max-width: 600px;
}
#hero .top-portfolio {
  color: #222222;
}
#hero .hero {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#hero .hero__text {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #6c7255;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .hero__text-container {
  margin-left: 10%;
}
#hero .hero .swiper {
  width: 100%;
  height: 100vh;
  position: relative;
}
#hero .hero .btn-swiper {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
#hero .hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}

.btn {
  position: absolute;
  padding: 10px 80px;
  background-color: #b0b4a1;
  border-radius: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  border: none;
}
.btn:hover {
  color: #e1e0d3;
  background-color: #222222;
}
.btn:active {
  color: #e1e0d3 !important;
  background-color: #111010 !important;
}
.btn:focus {
  color: #e1e0d3 !important;
  background-color: #111010 !important;
}

.active {
  background-color: #222222 !important;
  color: #e1e0d3 !important;
}

body {
  overflow-x: hidden;
  background-color: #e1e0d3;
}

.section-center {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

section {
  padding: 5% 0;
}

nav {
  background-color: #222222;
  top: 0;
  overflow: hidden;
}
nav a {
  color: #e1e0d3 !important;
}
nav a:hover {
  color: #222222 !important;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: #e1e0d3;
  font-weight: bold;
}

#apropos, #projet {
  height: 100vh;
  background-color: #e1e0d3;
  margin-bottom: 5%;
  position: relative;
}
#apropos .guillemets, #apropos b, #projet .guillemets, #projet b {
  color: #6c7255;
  font-weight: bold;
}
#apropos .apropos .valeur-item, #projet .apropos .valeur-item {
  width: 1%;
  height: 2;
}
#apropos .apropos h4, #projet .apropos h4 {
  margin-bottom: 5%;
}
#apropos .apropos__bottom, #projet .apropos__bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  height: 60%;
  margin-bottom: 10%;
}
#apropos .apropos__bottom-img, #projet .apropos__bottom-img {
  position: relative;
  height: 100px;
}
#apropos .apropos__bottom-img img, #projet .apropos__bottom-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 450px;
  border-radius: 25px;
  position: relative;
}
#apropos .apropos__bottom-img .cv, #projet .apropos__bottom-img .cv {
  border: none;
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  left: -15%;
  bottom: -270%;
  z-index: 100;
  background-color: #6c7255;
}
#apropos .apropos__bottom-img #textPath, #projet .apropos__bottom-img #textPath {
  font-size: 15px;
  font-size: bolder;
  fill: #e1e0d3;
}
#apropos .apropos__bottom-valeurs, #projet .apropos__bottom-valeurs {
  height: 40%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#apropos .apropos__bottom-valeurs .btn, #projet .apropos__bottom-valeurs .btn {
  position: relative;
  width: 250px;
  height: 100%;
}
#apropos .apropos__bottom-valeurs .valeur-hidden, #projet .apropos__bottom-valeurs .valeur-hidden {
  position: relative;
  grid-area: 2/1/3/4;
}
#apropos .apropos__bottom-valeurs .item-hidden, #projet .apropos__bottom-valeurs .item-hidden {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease, display;
}
#apropos .apropos__bottom-valeurs .item-hidden.visible, #projet .apropos__bottom-valeurs .item-hidden.visible {
  opacity: 1;
}

.carousel {
  margin: 0 auto;
  border: none;
  gap: 0;
  overflow: hidden;
  display: flex;
}
.carousel > * {
  flex: 0 0 100%;
}

.group {
  gap: 0;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  will-change: transform;
  animation: scrolling 20s linear infinite;
  border: 2px solid white;
}

.card {
  background-color: #6c7255;
  gap: 0;
  margin: -10px;
  border-radius: 0;
  border: 2px solid #6c7255;
  width: 100%;
  color: #e1e0d3;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  font-weight: bold;
  font-size: 30px;
}

.dot {
  width: 20%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#projet .valeur-item {
  width: 1%;
  height: 2;
}
#projet h4 {
  margin-bottom: 5%;
}
#projet .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
}
#projet .gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s;
  -o-object-fit: cover;
     object-fit: cover;
}
#projet .gallery img .gallery img:hover {
  transform: scale(1.05);
}
#projet .ephemeriteswiper {
  max-width: 450px;
}
#projet .myProjet {
  width: 700px;
  height: 500px;

  margin-bottom: 5%;
}
#projet .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
#projet .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

#projets {
  background-color: #b0b4a1;
}
#projets .swiper {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
#projets .swiper-slide {
  filter: saturate(60%);
  position: relative;
  width: 700px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projets .swiper-slide.swiper-slide-active {
  filter: saturate(1);
  transform: scale(1.1);
}
#projets .swiper-slide.swiper-slide-active .swiper-slide-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(108, 114, 85, 0.862745098);
  width: 100%;
  height: 100%;
}
#projets .swiper-slide.swiper-slide-active .swiper-slide-text p {
  color: #fcfcfc;
  max-width: 90%;
  margin: 0;
}
#projets .swiper-slide.swiper-slide-active .swiper-slide-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #e1e0d3;
}
#projets .swiper-slide-text {
  display: none;
  background-color: red;
  transition: background-color 0.5s ease;
}
#projets .swiper-slide:hover .swiper-slide-text {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(74, 78, 57, 0.9098039216);
  width: 100%;
  height: 100%;
}
#projets .swiper-slide:hover .swiper-slide-text p {
  color: #fcfcfc;
  max-width: 90%;
  margin: 0;
}
#projets .swiper-slide:hover .swiper-slide-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #e1e0d3;
}

.swiper-slide .redirect {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 25% 0;
     object-position: 25% 0;
}

#competences {
  height: 100vh;
  position: relative;
}

.competences {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.competences .hidden-competences {
  height: 300vh;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  background-color: red;
}
.competences__text {
  font-size: 100px;
  position: absolute;
  z-index: 50;
}
.competences__item {
  position: absolute;
  padding: 10px 60px;
  background-color: #b0b4a1;
  border-radius: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.competences__item-hidden {
  display: none;
}
.competences__item:nth-child(2) {
  left: 0px;
  z-index: 100;
}
.competences__item:nth-child(2) {
  left: 0px;
  z-index: 100;
}
.competences__item:nth-child(3) {
  top: 220px;
  right: 0px;
  z-index: 1;
}
.competences__item:nth-child(4) {
  top: 150px;
  right: 250px;
  z-index: 100;
}
.competences__item:nth-child(5) {
  top: 200px;
  left: -100px;
  z-index: 100;
}
.competences__item:nth-child(6) {
  top: -30px;
  z-index: 100;
}
.competences__item:nth-child(7) {
  top: 350px;
  right: 150px;
  z-index: 100;
}
.competences__item:nth-child(8) {
  top: -50px;
  right: -100px;
  z-index: 100;
}
.competences__item:nth-child(9) {
  top: 300px;
  left: 25%;
  z-index: 100;
}

.contacts {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts__text {
  font-size: 100px;
  line-height: 90%;
  font-weight: bold;
  text-transform: uppercase;
}
.contacts__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__info a {
  color: #222222;
}

footer {
  background-color: #0d0d0d;
  color: #fcfcfc;
  fill: #fcfcfc;
}
footer a {
  color: #e1e0d3;
}
footer svg {
  fill: #e1e0d3;
}

.nav-link {
  font-size: 20px;
}

/* PROJET */
.projet .swiper {
  width: 100%;
  height: 600px;
  margin-bottom: 5%;
}
.projet .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projet .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projet__image {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: auto;
  margin: 5% 0;
}

.margin-section {
  margin-bottom: 10%;
}

.grotte-bottom-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grotte-bottom-img img {
  width: 100%;
}

@media (max-width: 992px) {
  .contacts {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1em;
  }
  .contacts__text {
    margin-bottom: 5%;
    font-size: 3em;
  }
  .competences {
    overflow-x: hidden;
  }
  .competences__text {
    font-size: 10vw;
    position: absolute;
    z-index: 50;
  }
  .competences__item {
    display: none;
  }
  .competences .comp-hidden {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transform: translateY(100%);
    gap: 10px;
  }
  .competences__item-hidden {
    display: block;
    font-size: 1em;
    margin-top: 2%;
    padding: 0.75em 2em;
    background-color: #b0b4a1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* MEDIA QUERIES */
@media (max-width: 800px) {
  p.h3 {
    margin-top: 0;
    font-size: 1.25em;
  }
  h1,
  .h1 {
    font-size: 48px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  h3,
  .h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
  }
  p,
  a,
  span,
  .btn {
    font-size: 16px;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  ul {
    padding: 0 5%;
  }
  main {
    margin: 0 2%;
  }
  .projet .swiper {
    height: 300px;
  }
  .projet .swiper-slide img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    background-color: red;
  }
  .projet__image {
    grid-template-columns: 1fr;
    margin-bottom: 0%;
  }
  .projet__image iframe {
    height: 400px;
    margin-bottom: 30%;
  }
  .competences__text {
    font-size: 10vw;
    position: absolute;
    z-index: 50;
  }
  .competences__item {
    display: none;
  }
  .competences .comp-hidden {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transform: translateY(100%);
    gap: 10px;
  }
  .competences__item-hidden {
    display: block;
    font-size: 0.75em;
    padding: 0.5em 2em;
    background-color: #b0b4a1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1em;
  }
  .contacts__text {
    margin-bottom: 5%;
    font-size: 3.5em;
  }
}
@media (max-width: 450px) {
  p.h3 {
    margin: 10% 0;
    font-size: 1em;
  }
  .btn {
    padding: 0.5em 1em;
  }
  h1,
  .h1 {
    font-size: 32px;
  }
  h2,
  .h2 {
    font-size: 24px;
  }
  h3,
  .h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p,
  a,
  span,
  .btn {
    font-size: 16px;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  ul {
    padding: 0 5%;
  }
  main {
    margin: 0 2%;
  }
  .projet .swiper {
    height: 300px;
  }
  .projet .swiper-slide img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    background-color: red;
  }
  .projet__image {
    grid-template-columns: 1fr;
    margin-bottom: 0%;
  }
  .projet__image iframe {
    height: 400px;
    margin-bottom: 30%;
  }
  .competences__text {
    font-size: 10vw;
    position: absolute;
    z-index: 50;
  }
  .competences__item {
    display: none;
  }
  .competences .comp-hidden {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: translateY(60%);
    gap: 10px;
  }
  .competences__item-hidden {
    display: block;
    font-size: 0.75em;
    padding: 0.5em 2em;
    background-color: #b0b4a1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1em;
  }
  .contacts__text {
    margin-bottom: 5%;
    font-size: 2.5em;
  }
}/*# sourceMappingURL=style.css.map */
